body {
    color:whitesmoke;
    background-image: url("stranger\ things.jpeg");
    background-size: cover;
    text-align:left;
        font-family: 'Edu TAS Beginner', cursive;
        font-size: 20px;
}

    .btn {
        padding: 6px 12px;
        background:yellow;
        border: none;
        font-family: inherit;
 }

